.tarea-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #e31414;
    outline: none;
}

.tarea-boton {
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: #f71111;
    color: #fff;
    text-transform: capitalize;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tarea-boton:hover {
    background-color: #e20f0f;
    transform: scale(1.05); 
}

.tarea-boton:active {
    transform: scale(0.95); 
}